#login_container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 800px;
  padding: 40px;
  text-align: center;
  margin: 30px auto;
  background-color: white;

  border-radius: 20px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

#login_box h2 {
  color: white;
  font-weight: 500;
}

#login_box input {
  border: 2px solid gray;
  background: none;
  display: block;
  width: 300px;
  border-radius: 25px;
  margin: 20px auto;
  padding: 14px 12px;
  /* input box 에 focus 가 있을때 나타나는 기본 outline 제거 */
  outline: none;
  transition: 0.2s;
  text-align: center;
}

/* input box 를 클릭했을때 */
#login_box input:focus {
  width: 320px;
  border-color: #3498db;
}

#login_box button {
  border: 2px solid #3498db;
  margin: 20px auto;
  padding: 14px 10px;
  border-radius: 25px;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  width: 200px;
}

#login_box button:hover {
  background-color: #3498db;
}

#more_text {
  margin: 50px;
  font-size: 15px;
}
#login_right {
  width: 50%;
  height: 100%;
  background-color: #7ac2e5;
}
